.layout {
  width: 100%;
  min-width: 1000px;
  height: 722px;
  border-radius: 6px;
  display: flex;
  background: #fff;
}

.layout .ant-prompts {
  color: rgba(0,0,0,0.88);
}

.menu {
  background: #f5f5f580;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.conversations {
  padding: 0 12px;
  flex: 1;
  overflow-y: auto;
}

.chat {
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.messages {
  flex: 1;
}

.placeholder {
  padding-top: 32px;
}

.sender {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: start;
  padding: 0 24px;
  box-sizing: border-box;
}

.logo img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.logo span {
  display: inline-block;
  margin: 0 8px;
  font-weight: bold;
  color: rgba(0,0,0,0.88);
  font-size: 16px;
}

.addBtn {
  background: #1677ff0f;
  border: 1px solid #1677ff34;
  width: calc(100% - 24px);
  margin: 0 12px 24px 12px;
}